.active {
    padding: 10px;
    border-color: #f4ce42;
    border-radius: 4px;
    font-size: 18px;
    margin: 5px;
    background-color: #f4ce42;
    cursor: pointer;
}

.active:hover {
    background-color: #e8bd14;
}