* {
    text-align: left;
}

.bar {
    width: 100%;
    border: 1px solid black;
    float: left;
}

.bar-container {
    height: 15px;
    width: 100%;
}

.progress-bar {
    height: 15px;
    background: green;
    border-radius: 5px;
}

@media only screen and (min-width: 600px) {
    .bar {
        float: none;
    }
}