*{
    margin:0;
    padding:0;
    text-align:center;
}

button{
    padding: 10px;
    border-color:#f4ce42;
    border-radius:4px;
    font-size:18px;
    margin: 5px 10px;
    background-color:#f4ce42;
    cursor:pointer;
}

button:hover{
    background-color:#e8bd14;
}
#container{
    margin: 0 10px;
    display:inline-block;
    border-radius: 15px;
    padding: 30px 25px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size:24px;
}

img.specie{
    display:block;
    height:100%;
    margin:auto;
}

img.default{
    height:5%;
}

ul{ 
    list-style:none;
}

.textDiv{
    font-weight:bold;
    padding-top:10px;
}

h2{
    padding: 5px 30px 15px;
}
p{
    padding: 0px 30px 15px;
    line-height:30px;
    font-size:20px;
    text-align:justify;

}

.stats-container{
    border: 1px solid black;
    border-radius:15px;
    margin: 0 20px;
    padding: 15px;
  
}

.image-container{
    border-radius:8px;
    margin: 0 50px;
    height: 150px;
}

li{
    text-align:left;
    display:block;
    line-height:30px;
    font-size:20px;

    
}

.stats{
    width:100%;
    text-align:left;
}

.top-container{
    width:100%;
    display:block;
}

.img-desc-container{
    display:inline-block;
 
}

.img-stats-container{

    width:100%;
    height:833px;
    display:inline-block;
}

.evolution-container{
    display:block;
    width:100%;
}

.desc-container{
    display:inline-block;
    width:100%;
    height:400px;
    float:none;
}

table{
    border:none;
    width:100%;
}
tr,td{
    width:500px;
}

@media only screen and (min-width: 800px){
    tr,td{
        width:320px;
    }
    .img-stats-container{
        width:30%
    }
    .desc-container{
        width:calc(70% - 4px);
        float:right;
    }
    #container{
        width:15%;
        padding-left:25px;
    }

    li, p{
        text-align:center;
        font-size:16px;

    }
    .stats-container{
        text-align:left;
    }
    
    .stats{
        width: 15%;
        text-align:left;
        margin:auto;
    }

    .desc-container{
        height:833px;

    }
    

  
  }