<app-header></app-header>
<div class='container' *ngFor='let pokemon of pokemons | paginate: {itemsPerPage:page, currentPage:p}'
  (click)=onSelect(getPokemonId(pokemon.url)) title='{{pokemon.name | titlecase }} details'>
  <h3 style="cursor: text;">{{pokemon.name | uppercase }}</h3>

    <app-pokemon-sprite [pokemonUrl]='pokemon.url' [pokemonName]='pokemon.name'></app-pokemon-sprite>
    <h4>ID# {{ getPokemonId(pokemon.url) | number: '3.0-0' }}</h4>
  </div>



<div class="footer">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>