* {
  margin: auto;
}



.innerContainer {
  width: 90%;
  height: 220px;
  display: inline-block;
  margin: 0;
  text-align: center;
}
.inline{
  display:inline-block;
  vertical-align: top;
  width:50%;
}

.firstEvolve{
  display: inline-block;
  vertical-align: top;
  width:100%;
  border: 1px solid black;

}
img.arrow {
    height:50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}

h2 {
  padding: 20px 0;
}

@media only screen and (min-width: 600px) {
  .innerContainer {
    height: 140px;
    width: 220px;
    padding: 0;
  }

  .inline{
    width:20%;
  }
}
