* {
  margin: auto;
}



.innerContainer {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 16px;
  text-align: center;
}
.inline{
  display:inline-block;
  vertical-align: top;
}

.firstEvolve{
  display: inline-block;
  vertical-align: top;
  width:100%;
  border: 1px solid black;

}
img.arrow {
    height:50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}

h2 {
  padding: 20px 0;
}

@media only screen and (min-width: 600px) {
  .innerContainer {
    height: 160px;
    width: 240px;
  }
}
