*{
    margin:auto;
  

}

.innerContainer{
    width:170px;
    height:200px;
    display:inline-block;
    margin: 0 10px;
    text-align:center;  
}
h2{
    padding: 20px 0;
}
@media only screen and (min-width: 600px){
 
    .innerContainer{
        height:150px;
        width:180px;
    }
  
  }