* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.container {
  cursor: pointer;
  border: 1px solid rgba(232, 174, 0, 1);
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
  margin: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 250px;
  width: 85%;
  text-align: center;
  font-size: 90%;
  font-family: sans-serif;
}

.container:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

button {
  padding: 15px;
}

h2 {
  font-size: 120%;
}

.text-container {
  font-size: 14px;
  display: inline-block;
  height: 120px;
  overflow: hidden;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: rgba(232, 174, 0, 1);
}

@media only screen and (min-width: 600px) {
  .container {
    width: 15%;
    height: 100%;
    margin: 5px 10px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1215px) {
  .container {
    width: 18%;
  }
}

@media only screen and (max-width: 1118px) {
  .container {
    width: 23%;
  }
}

@media only screen and (max-width: 1016px) {
  .container {
    width: 22%;
  }
}

@media only screen and (max-width: 685px) {
  .container {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 85%;
  }
}