<app-loading-spinner *ngIf="!pokemonSprites"></app-loading-spinner>
<ng-container *ngIf='pokemonSprites'>
  <ng-container *ngIf="pokemonSprites.front_default; else elseBlock">
    <img [src]='pokemonSprites.front_default' />

    <ng-container *ngFor= "let type of pokemonType">
      <div id="type-container"  class="{{type.type.name}}">{{type.type.name}}</div>
    </ng-container>
    <h3>#{{pokemonId.id | number:'3.0-0'}}</h3>
  </ng-container>
  <ng-template #elseBlock>
    <img class='default' src="assets/img/Pokeball.png" />
  </ng-template>
</ng-container>

